*{
    margin: auto;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    overflow: inherit;
}
.background img{
  min-height: 100%;
    width: 100%;
    position: relative;
    animation: transitionIn1 1.5s;
}

@keyframes transitionIn1{
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    
    to{
        opacity: 50;
        transform: TranslateY(0);
    }
}
nav{
    position: fixed;
    top: 250px;
    right: -100px;
    transform: rotate(90deg);
    z-index: 3;
}
a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: .85vw;
    letter-spacing: 0.5px;
    padding: 0px 15px;
    z-index: 3;
}
a::after{
    content: "";
    position: relative;
    background-color: white;
    height: 1px;
    width: 0px;
    left: 0px;
    bottom: -10px;
    transition: .5s;
}
a:hover{
    opacity: 60%;
    filter: blur(.1px);
    transition: .5s;
    color: red;
}
a:hover::after{
    width: 100%;
}
a.yokaiabout {
    color: red;
    font-weight: 900;
}
h1{
    position: absolute;
    font-family: 'Yuji Boku', serif;
    color: white;
    font-size: 25vw;
    left: 50%;
    z-index: 2;
    filter: blur(1px);
    animation: transitionIn1 1s;
}

@keyframes transitionIn1{
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    
    to{
        opacity: 50;
        transform: TranslateY(0);
    }
}
.part1 {
    display: block;
    margin-bottom: -.55em;
}
.abouttext{
    width: 40%;
    color: white;
    font-size: .8vw;
    padding: 0px 0px 100px 0px;
    margin: auto;
    align-content: center;
    line-height: 150%;
}
h2{
    text-align: center;
    font-size: 2vw;
}
/* footer */
footer {
        clear: both;
    position: relative;
    height: auto;
    width; 100%;
}

.footer-distributed {
  background-color: red;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 1vw;
  padding: 10px 50px;
}

.footer-distributed .footer-left p {
  color: darkred;
  font-size: .9vw;
  margin-left: 1.7vh;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 1vw;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: .5vw;
  height: 5vh;
  border-radius: 2px;
  font-size: 1.2vw;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
